ol.progtrckr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 2.2rem;
  list-style-type: none;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}
ol.progtrckr li span {
  padding: 0 1.5rem;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}
@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-doing {
  color: #616a6b;
  border-bottom: 4px solid #A93226;
}
ol.progtrckr li.progtrckr-done {
  color: #616a6b;
  border-bottom: 4px solid #A93226;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: #943126;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #A93226;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #943126;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #A93226;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #943126;
}

#formAnswer{
  display:flex;
  flex-direction: row;
  align-items: center;
}

#formInput{

}

#formHeader{
  display:flex;
  justify-content: center;
}

#nextButton {
  height:35px;
  font-size: 1.5rem;
  background-color: rgb(146, 43, 33, 0.9);
  color: white;
  border-radius: 4px;
  margin:1rem
}

#multiPageSubmit{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#submitButtonMulti{
  height:40px;
  font-size: 1.5rem;
  background-color: rgb(146, 43, 33, 0.9);
  color: white;
  border-radius: 4px;
  margin-right: 10rem
}

#signupInput{
  width:20%;
  padding:0.5rem;
  margin: 1rem 0.5rem
}
#signupInputDrop{
  width:auto;
  padding:0.5rem;
  margin: 1rem 0.5rem
}

#signupDiv{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin: 1rem 0.5rem
}
